.imgBanner {
  position: relative;
  width: 90%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  margin: auto;

  img {
    width: 100%;
    height: auto;
  }

  .bannerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    max-width: 733px;
    width: 100%;
  }

  // Médias queries pour les petits écrans
  @media (max-width: 768px) {
    .bannerText {
      font-size: 24px;
      padding: 0.5rem;
    }
  }

  @media (max-width: 480px) {
    .bannerText {
      font-size: 1rem;
      padding: 0.25rem;
    }
  }
}
