.PageAppartements {
  margin-left: 4%;
  margin-right: 4%;
}

.containerInformations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  color: #ff6060;
  margin-top: 30px;
}

.containerHost {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .hostImg {
    width: 64px;
    height: 64px;
    border-radius: 40px;
  }
}

.rubriqueTags {
  display: flex;
  gap: 20px;
  width: 100%;
  color: white;
  font-weight: 500;

  span {
    height: 25px;
    padding: 1px 10px 0;
    line-height: 25px;
    background-color: #ff6060;
    border-radius: 10px;
    text-align: center;
  }
}

.containerTagsRating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.rating {
  span {
    font-size: 35px;
  }

  &::before {
    content: "★★★★★";
  }
}

.starone {
  background-color: #ff6060;
}

.stars {
  position: relative;
  display: inline-block;
  font-size: 24px;
}

.star {
  color: #ccc;
}

.rating {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  color: #ff6060;
  pointer-events: none;
}

@media screen and (max-width: 600px) {
  .rubriqueTags span {
    font-size: 10px;
  }
  
  .containerTagsRating {
    flex-wrap: wrap;
  }
  
  .stars {
    margin-top: 30px;
    position: relative;
    font-size: 18px;
  }
  
  .containerHost {
    transform: translateY(120px);
    
    p {
      width: 100%;
      font-size: 12px;
    }
  }
  
  .containerInformations {
    h1 {
      font-size: 18px;
    }
    
    p {
      font-size: 14px;
    }
  }
  
}
